.display{
  display: flex;
  flex-direction: row;
}
.img{
  width: 25%;
  height: 200px;
}

.info{
  width: 75%;
}
.name{
  font-size: x-large;
}
.badge{
  background-color: rgb(236, 31, 31);
  color: white;
  border: none;
}

@media only screen and (max-width: 750px){
  .display{
    display: flex;
    flex-direction: column;
  }

  .img{
    width: 80%;
    height: 200px;
  }
  .info p{
    width: 100%;
  }
  .name{
    font-size: large;
  }
}
